* {
  margin: 0;
}

@font-face {
  font-family: "FontFarsi";
  src: url("../fonts/font-farsi-web/font/BNazanin.ttf") format("ttf");
  src: url("../fonts/font-farsi-web/font/BNazanin.eot") format("eot");
  src: url("../fonts/font-farsi-web/font/BNazanin.woff") format("woff");
}

@font-face {
  font-family: "IranNastalig";
  src: url("../fonts/IranNastaliq.eot") format("eot");
  src: url("../fonts/IranNastaliq.ttf") format("ttf");
  src: url("../fonts/IranNastaliq.woff") format("woff");
}

body {
  background-color: rgba(201, 201, 201, 0.119);
}
.full-page {
  /* border: 2px solid black; */
  height: 800px;
  width: 40%;
  margin: auto;
  margin-top: 75px;
}

.main {
  display: flex;
}

.picture {
  float: left;
}

.log-in {
  width: 40%;
}
.user-pass {
  background-color: #ffffff;
  border: 1px solid #bfbebe99;
  margin-top: 70px;
  height: 280px;
}

.user-pass img {
  width: 200px;
  display: block;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.user-pass input {
  display: block;
  background-color: #bfbebe1c;
  border: 1px solid rgba(136, 132, 132, 0.259);
  padding: 8px;
  border-radius: 3px;
  width: 80%;
  margin: auto;
  margin-bottom: 5px;
  font-size: 0.75rem;
}

.user-pass button {
  width: 87%;
  margin: auto;
  display: block;
  color: #ffffff;
  background-color: rgba(0, 157, 255, 0.302);
  border: none;
  border-radius: 3px;
  padding: 5px 0;
  margin-top: 10px;
}

.user-pass a {
  text-decoration: none;
  color: black;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 10px;
}

.question {
  background-color: #ffffff;
  border: 1px solid #bfbebe99;
  margin-top: 10px;
  text-align: center;
  padding: 15px 0;
  font-size: 13px;
}

.question h1 {
  display: inline-block;
  text-align: center;
  position: absolute;
  font-size: 0.6rem;
}

.question a {
  display: inline-block;
  font-size: 0.9rem;
  text-decoration: none;
  color: rgb(0, 145, 207);
  margin-left: 3px;
}

.get-app {
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 0.8rem;
}

.get-app-img img {
  width: 35%;
}
.get-app-img {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

footer {
  /* text-decoration: center; */
}
.footer a {
  text-decoration: none;
  color: rgb(107, 107, 107);
  font-size: 10px;
  margin-left: 10px;
}

.first-line,
.second-line,
.last-line {
  text-align: center;
}

.last-line{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.last-line select {
  border: none;
  background-color: rgba(201, 201, 201, 0.072);
  color: rgba(107, 107, 107, 0.84);
  font-size: 10px;
  /* display: block;
  justify-content: center; */
}

.last-line p {
  color: rgba(107, 107, 107, 0.84);
  font-size: 10px;
  display: block;
}
